<h1> hello this is the edit container</h1>


HELLO this is the post of <%= @post.user.username%>
and here is their picture:
<%= image_tag(post.images[0], style: "object-fit: cover; width: 300px; height: 300px;") %>