<div class="show-header-right">
    <div class="top-right-corner">
        <div class="dropdown">
            <a id="dropdownMenu2" class=" link-offset-2 link-underline link-underline-opacity-0 dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="bi bi-three-dots"></i>
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <% if current_user.id === post.user.id%>
                <li><button class="dropdown-item" type="button">Delete</button></li>
                <li><button class="dropdown-item" type="button">Edit</button></li>
            <% end %>
            <div data-controller="url-grabber">
                <li><button class="dropdown-item" type="button" data-post-url="<%= post_url(post) %>" data-url-grabber-target="url" data-action="click->url-grabber#copyLink"> Copy Link</button></li>
            </ul>
        </div>
    </div>
</div>