/* 2 column flex boxs */

.show-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
  
.show-column {
/* flex: 50%; */
    width: unset;
}

.show-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
  }

.post-index-container {
    width: 325px;
}

.index-row {
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%
}

.inline {
    display: inline-block;
}

.index-column-spaced {
    display: inline-block;
    flex-basis: auto;
    align-self: auto;
    order: 0;
}

.show-header-left {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }

.show-header-right {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  align-items: flex-start;
  justify-content: flex-end;
  order: 0;
}

.top-right-corner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: flex-start;
    align-content: stretch;
  }


.show-post-comments {
    overflow-y: scroll;
    height: 300px;
    
}

/* Hides the dropdown arrow */

.dropdown-toggle::after { 
    content: none; 
} 

#character-count {
    float: right;
    padding: 0.1rem 0 0 0;
    font-size: 0.875rem;
}

.button-to-link {
    display: inline-block;
    padding: 0;
    border: 0;
    font: inherit;
    text-decoration: underline;
    cursor: pointer;
    background: transparent;
    color: currentColor;
  
    -webkit-appearance: none;
  }

.reply-comment {
    margin-left: 20px;
}

.profile-index {
    display: flex;
    flex-dirction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

/*
.like-comment {

}

.bookmark {

}

.liked-by {

}

.emoji {

}

.comment {

}

.post-button {

} */
