<div class="alert alert-success text-center" role="alert">
  <h4 class="alert-heading">Flash Message</h4>
  <p>Flash alert message test</p>
  <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
</div>