<div class="alert alert-success text-center" role="alert">
  <%# <h4 class="alert-heading">Flash Message</h4> %>
  <p class="notice mb-0"><%= notice %></p>
  <p class="notice mb-0"><%= alert %></p>
</div>