<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item">Link
      <li class="nav-item">Link
      <li class="nav-item">Link
    </ul>
    <p class="text-center text-muted">&copy; 2025 Melongram, Jennice Guerrero</p>
    <p class="text-center text-muted">Final Project for Ruby on Rails course from <a href="https://www.theodinproject.com/about" class="nav-link px-2 text-muted">The Odin Project</a>
  </footer>
</div>