    <div class="modal fade" id="newpostModal" tabindex="-1" aria-labelledby="newpostmodalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header justify-content-center">
            <p class="modal-title fs-6 fw-bold" id="newpostmodalLabel">Create New Post</p>
          </div>
          <div class="pt-4 modal-body d-flex justify-content-center align-items-center">
            <div style="margin-left: auto; margin-right: auto; text-align: center;">
              
              
              <%= form_with model: Post.new, html: { multipart: true }, data: { controller: "new-post-form"} do |f| %>
                <div class="mb-6">
                    <div data-new-post-form-target="preview" style="margin-left: auto; margin-right: auto; text-align: center; gap: 10px; flex-wrap: wrap;">
                        <%= image_tag "icons/image-gallery.png", width: "70", class: "mb-2" %>
                        <p class="fs-5">Upload photos here</p>
                    </div>
                    <%= link_to "Select from computer", "", data: { action: "click->new-post-form#selectFile" }, id: "post-select-file-button", class: "btn btn-primary", style: "margin-top: 20px"%>
                    <%= f.file_field :images, multiple: true, data: { "new-post-form-target": "photoFile", action: "change->new-post-form#preview" }, class: "d-none" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>